.new-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .new-container .title{
    display: flex;
    align-items: center;
    margin-left: 5px;
    gap: 20px;
  }
  
  .new-container .title .icon{
    transform: scale(2);
    margin-bottom: 5px;
  }
  
  .new-container .title h1{
      font-weight: 600;
  }
  
  .new-container hr{
      width: 100%;
      margin-bottom: 30px;
      
  }
  
  .new-container .new-item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 35px;
  }